@media screen and (min-width: 50em) and (max-width: 90em) {

    body {
        font-size: 1em;
    }

    .container-top-header {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 5vw;
    }

    .container-top-page-title {
        align-self: flex-start;
    }

    .container-top-nav {
        justify-content: flex-end;
        gap: 3vw;
    }

    .container-top-section h1{
        font-size: 3em;
    }

    .container-top-subtext {
        width: 60vw;
    }

    .container-body-qualities {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .container-body-qualities-group {
        max-width: 40vw;
    }

    .container-body-spam {
        background-color: initial;
        display: flex;
        position: relative; /* Necessário para sobreposição */
        width: 100%;
        height: 50vh; /* Altura da seção */
    }

    .container-body-spam-solid-color {
        display: initial;
        background-color: black;
        width: 40%; /* 40% da largura */
        height: 100%;
    }

    .container-body-spam-image {
        display: initial;
        background-image: url('./img/office.jpg'); /* Substitua pelo caminho da imagem */
        background-size: cover;
        background-position: center;
        width: 60%; /* 60% da largura */
        height: 100%;
    }

    .container-body-spam-text {
        display: initial;
        position: absolute; /* Sobreposição */
        top: 50%; /* Move para o meio vertical */
        left: 50%; /* Move para o meio horizontal */
        transform: translate(-50%, -50%); /* Centraliza exatamente no meio */
        width: 72%; /* 30% da div preta + 80% da div com imagem */
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        padding: 1rem;
        background-color: deepskyblue;
    }

    .container-body-spam-marketing {
        display: initial;
        font-size: 1.5rem;
        margin: 0;
    }

    .about-group-description {
        margin: 1vh 4vw 8vh;
    }

    .container-body-about-text {
        margin: 0 10vw;
    }

    .container-body-services-group {
        max-width: 400px;
    }

    .services-title {
        max-width: 400px;
    }

    .services-item {
        max-width: 400px;
    }

    .container-body-statistics {
        flex-direction: row;
        height: 50vh;
        font-size: 1.5em;
    }

    .statistics-number {
        text-align: center;
        font-family: "Verdana";
        margin: 2vh 0 0;
    }

    .statistics-description {
        margin: 0 0 2vh;
    }

    .social-media-icon {
        max-width: 300px;
    }

    .line-separator {
        width: 80vw;
        color: #F4F4F4;
    }

    .container-body-avaliations {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .container-body-avaliations-group {
        align-items: center;
    }

    .container-body-localization-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 4vh auto;
        gap: 3vh;
    }

    .container-body-localization-group {
        width: 30vw;
        margin: 1vh 0 1vh 4vw;
    }

    .container-body-localization-group h2 {
        font-size: 2em;
        margin: 0;
    }

    .container-body-localization-group p {
        margin: 0;
    }

    .container-body-localization-map {
        width: 40vw;
    }

    .container-body-localization-map-frame {
        width: 40vw;
    }

}
